.cart {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
    background: #d4b997;
}

.cartItem {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cartItemName {
    margin-right: 1rem;
    flex: 1;
}

.cartItemPrice {
    text-align: left;
    width: 2rem;
}
