.layout {
    background-color: #fefefe;
}

.content {
    padding: 0 1rem;
}

.layoutThemeLight {
    color: #333;
    background-color: #fff;
}

.layoutThemeDark {
    color: white;
    background-color: #333;
}
