.tabs {
    margin-bottom: 1rem;
}

.tab {
    height: 3rem;
    padding: 0 1rem;
    margin-right: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
}

.tab--active {
    background-color: #666;
    color: #fff;
    border-color: #666;
}
