.layout {
    height: 100%;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 0 1rem;
    flex: 1;
}

.layoutThemeLight {
    color: #333;
    background-color: #fff;
}

.layoutThemeDark {
    color: white;
    background-color: #333;
}
