.header {
    height: 4rem;
    border: solid #ccc;
    border-width: 0 0 1px 0;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.headerContent {
    flex: 1;
    cursor: pointer;
}

.headerActions {
    display: flex;
}

.headerActions > *:not(:last-child) {
    margin-right: 1rem;
}
