.header {
    height: 4rem;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.headerContent {
    flex: 1;
}

.headerActions {
    display: flex;
}

.headerActions > *:not(:last-child) {
    margin-right: 1rem;
}
